<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fa9a9d">  <td>20/01/29 16:03:36</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;SwitchFrameTestCases.startApp()[pri:0, instance:com.codistan.suleyman.midlevel.testcases.SwitchFrameTestCases@1f36e637]">&gt;&gt;startApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665372494</td>   <td></td> </tr>
<tr bgcolor="fa9a9d">  <td>20/01/29 16:03:36</td>   <td>23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwitchFrameTestCases.test()[pri:0, instance:com.codistan.suleyman.midlevel.testcases.SwitchFrameTestCases@1f36e637]">test</td> 
  <td>main@665372494</td>   <td></td> </tr>
<tr bgcolor="fa9a9d">  <td>20/01/29 16:03:53</td>   <td>16793</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SwitchFrameTestCases.test2()[pri:0, instance:com.codistan.suleyman.midlevel.testcases.SwitchFrameTestCases@1f36e637]">test2</td> 
  <td>main@665372494</td>   <td></td> </tr>
</table>
